---
import Layout from "../../layouts/DocsLayout.astro";

import Docbar from "../../components/Docbar.astro";
---

<Layout title="Policygen Rails - Online Policy Generator">
  <div class="flex flex-row">
    <Docbar />

    <div class="p-6 w-full rounded-lg mx-auto bg-background-darken">
      <div class="flex flex-row justify-between items-center">
        <h1 class="text-white text-3xl font-bold">Policygen Rails</h1>
        <a
          class="text-white text-3xl hover:text-accent"
          href="https://github.com/imothee/policygen-rails"
          ><svg
            viewBox="0 0 1024 1024"
            fill="currentColor"
            height="1em"
            width="1em"
          >
            <path
              d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0138.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"
            ></path>
          </svg></a
        >
      </div>

      <h2 class="text-white text-xl font-bold my-4">Installation</h2>
      <p class="text-white">Add this line to your application's Gemfile:</p>
      <pre
        class="bg-gray-700 p-2 rounded-lg text-white my-2 text-sm"><code class="language-ruby">gem 'policygen'</code></pre>
      <p class="text-white">And then execute:</p>
      <pre
        class="bg-gray-700 p-2 rounded-lg text-white my-2 text-sm"><code class="language-bash">bundle install</code></pre>
      <p class="text-white">Or install it yourself as:</p>
      <pre
        class="bg-gray-700 p-2 rounded-lg text-white my-2 text-sm"><code class="language-bash">gem install policygen</code></pre>
      <h3 class="text-white text-lg font-bold my-4">Run the installer</h3>
      <p class="text-white">
        To setup the policygen config file in your rails project run:
      </p>
      <pre
        class="bg-gray-700 p-2 rounded-lg text-white my-2 text-sm"><code class="language-bash">rails generate policygen:install</code></pre>
      <h3 class="text-white text-lg font-bold my-4">
        If using Tailwind as your css framework
      </h3>
      <p class="text-white">
        Add the following to app/config/tailwind.config.js:
      </p>
      <pre
        class="bg-gray-700 p-2 rounded-lg text-white my-2 text-sm"><code class="language-javascript" is:raw>module.exports = {
  content: [
    './public/*.html',
    ...,
    getPolicygenViewPath()
  ]
}

function getPolicygenViewPath() {
  const { execSync } = require("child_process");
  const path = execSync("bundle show policygen").toString().trim();
  return `${path}/**/*.{erb,html,rb}`;
}</code></pre>
      <h2 class="text-white text-xl font-bold my-4">Usage</h2>
      <p class="text-white">
        Policygen mounts two view helpers to render your policies into any view
        you want to setup. The contents are driven by the config defined in
        policygen.rb
      </p>
      <p class="text-white">
        Once you've answered all the config questions you're ready to render
        your privacy and terms page.
      </p>
      <p class="text-white">
        To render the privacy policy in your view use the following helper:
      </p>
      <pre
        class="bg-gray-700 p-2 rounded-lg text-white my-2 text-sm"><code class="language-ruby">&lt;div class="whatever-your-container-is"&gt;
  &lt;%= privacy_policy %&gt;
&lt;/div&gt;</code></pre>
      <p class="text-white">
        To render the terms of service in your view use the following helper:
      </p>
      <pre
        class="bg-gray-700 p-2 rounded-lg text-white my-2 text-sm"><code class="language-ruby">&lt;div class="whatever-your-container-is"&gt;
  &lt;%= terms_of_service %&gt;
&lt;/div&gt;</code></pre>
    </div>
    <div class="w-96"></div>
  </div></Layout
>
