---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Policygen Rails - Online Policy Generator">
  <div class="flex flex-row">
    <div class="p-6 w-full rounded-lg mx-auto">
      <div class="flex flex-col justify-between items-center">
        <h1 class="text-2xl text-foreground">Policygen Rails</h1>
        <p class="text-sm text-foreground">Coming soon...</p>
        <p class="text-sm text-foreground">
          In the meantime, check out <a
            href="https://github.com/imothee/policygen-rails"
            class="text-accent-one">the GitHub repo</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
