<div class="w-96">
  <ul class="text-foreground space-y-2">
    <li><p class="text-lg font-medium">Getting Started</p></li>
    <li>
      <a
        href="/docs/policygen-rails"
        class="text-foreground-darken hover:text-accent-one ml-2"
        >Policygen-rails
      </a>
    </li>
    <li>
      <a
        href="/docs/policygen-js"
        class="text-foreground-darken hover:text-accent-one ml-2"
        >Policygen-js
      </a>
    </li>
    <li><p class="text-lg font-medium">Customization</p></li>
    <li>
      <a
        href="/docs/styling"
        class="text-foreground-darken hover:text-accent-one ml-2"
        >Styling your policies
      </a>
    </li>
    <li><p class="text-lg font-medium">Configuration</p></li>
    <li>
      <a
        href="/docs/configuration"
        class="text-foreground-darken hover:text-accent-one ml-2"
        >Configuring your policies
      </a>
    </li>
  </ul>
</div>
